

cdef extern from "{{ filename }}" namespace "{{ namespace }}":
    cdef cppclass {{ name }}:
{%- if empty_body %}
        pass
{%- else %}
{%- for field in fields %}
{{ field }}
{%- endfor %}
{%- for ctor in ctors %}
{{ ctor }}
{%- endfor %}
{%- for method in methods %}
{{ method }}
{%- endfor %}
{%- endif %}
