{%- if typedefs %}
{% for typedef in typedefs %}
{{ typedef }}
{% endfor %}
{%- endif %}
{%- if enums %}
{% for enum in enums %}
{{ enum }}
{% endfor %}
{%- endif %}
{%- if functions %}
{% for function in functions %}
{{ function }}
{% endfor %}
{%- endif %}
{%- if classes %}
{% for class in classes %}
{{ class }}
{% endfor %}
{%- endif %}