cdef class {{ enum.tipe }}:
{%- if enum.comment %}
    """{{ enum.comment|indent(4) }}
    """
{%- endif %}
{%- for constant in enum.constants %}
    {{ constant }} = _{{ modulename }}.{{ constant }}
{%- endfor %}
